/* DEBUG */
/* header * {
    border: 1px dashed violet;
}  */

/* FONT FAMILY -----*/
body * {
    font-family: "PT Sans", sans-serif;
    line-height: 1.5;
}

/*----- /FONT FAMILY */

/* RESET -----*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

ol,
ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

img * {
    width: 100%;
}

/*----- /RESET */

/* GRID LAYOUT -----*/

section {
    margin-top: 50px;
}

.container {
    max-width: 1160px;
    margin: auto;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col {
    padding: 0 10px;
}

.grow {
    flex-grow: 1;
}

/*----- /GRID LAYOUT */

/* GENERAL -----*/

.button-default {
    border-radius: 25px;
    padding: 5px 12px;
}

/*----- GENERAL */

/* HEADER -----*/

nav {
    background-color: #0084fd;
    position: sticky;
    top: 0;
    right: 0;
}

nav .row {
    justify-content: space-between;
}

nav .col {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

nav ul {
    display: flex;
}

nav li {
    padding: 0 20px;
    color: white;
}

nav button {
    color: black;
    background-color: white;
}

nav .fa-solid {
    color: white;
    font-size: x-large;
    display: none;
}

/*----- /HEADER */


/* MAIN ----------*/

/* PROMO SECTION -----*/
.promo .col {
    width: calc(100%/3);
    margin: 10px 0;
}

.promo .card {
    background-color: #b5ddff;
    color: #5a6e7f;
    height: 100%;
    border-radius: 20px;
    padding-top: 35px;
    text-align: center;
}

.promo .grow .card {
    display: flex;
    padding-left: 25px;
    text-align: left;
}

.promo .card {
    font-weight: 600;
    font-size: 17px;
}

.promo .card h3 {
    color: #0084fd;
    font-size: 22px;
    padding-bottom: 30px;
}

.promo .card p {
    padding-bottom: 30px;
}

.promo .button-default {
    background-color: #0084fd;
    color: white;
    padding: 10px 45px;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 3px;
}

.promo .card img {
    max-width: 250px;
    margin-right: 80px;
    padding-top: 20px;
    display: block;
}

.promo .card .fa-solid {
    color: #0084fd;
    font-size: 70px;
}
/* -----/PROMO SECTION */

/* PLANNING SECTION -----*/

.planning {
    background-color: #9792e4;
}

.planning .col {
    padding-top: 130px;
    padding-bottom: 60px;
}

.planning .left {
    width: 50%;
    padding-left: 130px;
    
}

.planning .right {
    width: 50%;
    padding-right: 130px;
}

.planning .img-big {
    max-width: 400px;
}

.planning .img-small {
    max-width: 250px;
}

.strategic {
    color: white;
}

.development {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    vertical-align: baseline;
    padding: 30px 40px;
}

/* -----/PLANNING SECTION */

/*---------- /MAIN */



/* TABLET RESPONSIVE -----*/

@media screen and (max-width: 992px) {

    nav ul,
    nav button {
        display: none;
    }

    nav .fa-solid {
        display: block;
    }

    .promo .grow .card {
        margin: 0 auto;
        flex-wrap: wrap;
    }
}

/*----- /TABLET RESPONSIVE */

/* MOBILE RESPONSIVE -----*/

@media screen and (max-width: 768px) {
    .promo .col {
        width: 100%;
    }

    .promo .grow .card {
        margin: 0 auto;
        flex-wrap: wrap;
    }
}


/*----- /MOBILE RESPONSIVE */