/* DEBUG */
/* header * {
    border: 1px dashed violet;
}  */

/* FONT FAMILY -----*/
body * {
    font-family: "PT Sans", sans-serif;
}

/*----- /FONT FAMILY */

/* RESET -----*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

ol,
ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

img * {
    width: 100%;
}

/*----- /RESET */

/* GRID LAYOUT -----*/

.container {
    max-width: 1160px;
    margin: auto;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col {
    padding: 0 10px;
}

.grow {
    flex-grow: 1;
}

/*----- /GRID LAYOUT */

/* GENERAL -----*/

.button-default {
    border-radius: 15px;
    padding: 5px 12px;
}

/*----- GENERAL */

/* HEADER -----*/

nav {
    background-color: #0084fd;
    position: sticky;
    top: 0;
    right: 0;
}

nav .row {
    justify-content: space-between;
}

nav .col {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

nav ul {
    display: flex;
}

nav li {
    padding: 0 20px;
    color: white;
}

nav button {
    color: black;
    background-color: white;
}

nav .fa-solid {
    color: white;
    font-size: x-large;
    display: none;
}

/*----- /HEADER */


/* MAIN ----------*/

/* PROMO SECTION -----*/
.promo .col {
   width: calc(100%/3);
   margin: 10px 0;
}

.promo .card {
    background-color: #b5ddff;
    height: 100%;
    border-radius: 10px;
}
/* -----/PROMO SECTION */

/*---------- /MAIN */



/* TABLET RESPONSIVE -----*/

@media screen and (max-width: 992px) {

    nav ul,
    nav button {
        display: none;
    }

    nav .fa-solid {
        display: block;
    }
}

/*----- /TABLET RESPONSIVE */

/* MOBILE RESPONSIVE -----*/

@media screen and (max-width: 768px) {}


/*----- /MOBILE RESPONSIVE */